.vs/PickMeFoodDelivery/DesignTimeBuild/.dtbcache.v2
.vs/PickMeFoodDelivery/FileContentIndex/8de4dfcc-6cec-494d-bb33-ab2e8364f7a4.vsidx
.vs/PickMeFoodDelivery/FileContentIndex/read.lock
.vs/PickMeFoodDelivery/v17/.suo
PickMeFoodDelivery.Models/obj/Debug/netstandard2.0/PickMeFoodDelivery.Models.csproj.BuildWithSkipAnalyzers
