.vs/PickMeFoodDelivery/DesignTimeBuild/.dtbcache.v2
.vs/PickMeFoodDelivery/FileContentIndex/8de4dfcc-6cec-494d-bb33-ab2e8364f7a4.vsidx
.vs/PickMeFoodDelivery/FileContentIndex/read.lock
.vs/PickMeFoodDelivery/v17/.suo
PickMeFoodDelivery.Models/obj/Debug/netstandard2.0/PickMeFoodDelivery.Models.csproj.BuildWithSkipAnalyzers
/.vs/PickMeFoodDelivery/FileContentIndex/ffbbb19c-f075-4125-b7bb-d762ae63317c.vsidx
/.vs/PickMeFoodDelivery/FileContentIndex/92540066-186b-4336-898c-fd37a656eed2.vsidx
/.vs/PickMeFoodDelivery/FileContentIndex/6516ccdf-c788-40a1-b870-8daa6509d6e7.vsidx
/.vs/PickMeFoodDelivery/FileContentIndex/493e3544-f164-4111-a04d-5a764b4cc59c.vsidx
